@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: "Gotham Pro";
    src: url("fonts/GothamPro-Medium.eot");
    src: url("fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"),
        url("fonts/GothamPro-Medium.woff2") format("woff2"),
        url("fonts/GothamPro-Medium.woff") format("woff"),
        url("fonts/GothamPro-Medium.ttf") format("truetype"),
        url("fonts/GothamPro-Medium.svg#fonts/GothamPro-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald-Medium.eot");
    src: url("fonts/Oswald-Medium.eot?#iefix") format("embedded-opentype"),
        url("fonts/Oswald-Medium.woff2") format("woff2"),
        url("fonts/Oswald-Medium.woff") format("woff"),
        url("fonts/Oswald-Medium.ttf") format("truetype"),
        url("fonts/Oswald-Medium.svg#fonts/Oswald-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("fonts/GothamPro.eot");
    src: url("fonts/GothamPro.eot?#iefix") format("embedded-opentype"),
        url("fonts/GothamPro.woff2") format("woff2"),
        url("fonts/GothamPro.woff") format("woff"),
        url("fonts/GothamPro.ttf") format("truetype"),
        url("fonts/GothamPro.svg#GothamPro") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("fonts/GothamPro-Light.eot");
    src: url("fonts/GothamPro-Light.eot?#iefix") format("embedded-opentype"),
        url("fonts/GothamPro-Light.woff2") format("woff2"),
        url("fonts/GothamPro-Light.woff") format("woff"),
        url("fonts/GothamPro-Light.ttf") format("truetype"),
        url("fonts/GothamPro-Light.svg#fonts/GothamPro-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("fonts/GothamPro-Italic.eot");
    src: url("fonts/GothamPro-Italic.eot?#iefix") format("embedded-opentype"),
        url("fonts/GothamPro-Italic.woff2") format("woff2"),
        url("fonts/GothamPro-Italic.woff") format("woff"),
        url("fonts/GothamPro-Italic.ttf") format("truetype"),
        url("fonts/GothamPro-Italic.svg#fonts/GothamPro-Italic") format("svg");
    font-weight: normal;
    font-style: italic;
}


/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: "Gotham Pro", "Arial", "Verdana", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    color: #676767;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
}

body {
    background: #ffffff;
}

.wrapper {
    width: 100%;
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
}

header {
    order: 1;
    -webkit-order: 1;
}

.content {
    order: 2;
    -webkit-order: 2;
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

footer {
    order: 3;
    -webkit-order: 3;
    position: relative;
    z-index: 5;
}

.clearfix:after {
    content: ""; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }

::-webkit-input-placeholder {color:#ffffff;}
::-moz-placeholder          {color:#ffffff;}
:-moz-placeholder           {color:#ffffff;}
:-ms-input-placeholder      {color:#ffffff;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

.animation-delay-onload {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.animation-delay {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 1px 0;
}

h1 {
    font-family: "Oswald", "Arial", "Verdana", sans-serif;
    font-size: 42px;
    line-height: 47px;
    font-weight: 500;
    color: #ffffff;
}

h2 {
    font-family: "Oswald", "Arial", "Verdana", sans-serif;
    font-size: 36px;
    line-height: 41px;
    font-weight: 500;
    color: #474747;
}

h3 {
    font-family: "Oswald", "Arial", "Verdana", sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    color: #474747;
}

h4 {
    font-family: "Oswald", "Arial", "Verdana", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    color: #474747;
}

p {
    font-family: "Gotham Pro", "Arial", "Verdana", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    color: #676767;
}

li {
    list-style: none;
    font-family: "Gotham Pro", "Arial", "Verdana", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    color: #676767;
}

a {
    text-decoration: none;
    font-family: "Gotham Pro", "Arial", "Verdana", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    color: #676767;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 26px;
    border: 1px solid transparent;
    background: rgba(34, 34, 34, .5);
    font-family: "Gotham Pro", "Arial", "Verdana", sans-serif;
    font-size: 18px;
    line-height: 49px;
    font-weight: normal;
    color: #ffffff;
}

input:focus {
    border: 1px solid #000000;
}

textarea {
    display: block;
    width: 100%;
    height: 150px;
    padding: 10px 26px;
    border: 1px solid transparent;
    background: rgba(34, 34, 34, .5);
    font-family: "Gotham Pro", "Arial", "Verdana", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: normal;
    color: #ffffff;
}

textarea:focus {
    border: 1px solid #000000;
}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    padding: 0;
    max-width: 1170px;
    margin: 0 auto;
}

.offset-ziro {
    font-size: 0;
    line-height: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.overflow_wrapp {
    overflow: hidden;
}

/*-- Pills --*/

.transparent-pill {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #d4b166;
    min-width: 232px;
    padding: 14px 10px 15px 10px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Gotham Pro", "Arial", "Verdana", sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    color: #d4b166;
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background-color, color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background-color, color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background-color, color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background-color, color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.transparent-pill:link,
.transparent-pill:visited {
    color: #d4b166;
    background-color: transparent;
}

.transparent-pill:active,
.transparent-pill.active {
    color: #ffffff;
    background-color: #d4b166;
}

.transparent-pill:hover {
    color: #ffffff;
    background-color: #d4b166;
}

.transparent-pill_2 {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #d4b166;
    min-width: 312px;
    padding: 14px 10px 15px 10px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Gotham Pro", "Arial", "Verdana", sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    color: #d4b166;
    -webkit-transition-property: ;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: ;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: ;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: ;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: ;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.transparent-pill_2:link,
.transparent-pill_2:visited {
    box-shadow: none;
}

.transparent-pill_2:active,
.transparent-pill_2.active {
    -webkit-box-shadow: 0 10px 20px 0 rgba(212,177,102,.7);
    -moz-box-shadow: 0 10px 20px 0 rgba(212,177,102,.7);
    box-shadow: 0 10px 20px 0 rgba(212,177,102,.7);
}

.transparent-pill_2:hover {
    -webkit-box-shadow: 0 10px 20px 0 rgba(212,177,102,.7);
    -moz-box-shadow: 0 10px 20px 0 rgba(212,177,102,.7);
    box-shadow: 0 10px 20px 0 rgba(212,177,102,.7);
}

.beige-pill {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    background-color: #d4b166;
    border: 1px solid #d4b166;
    min-width: 153px;
    padding: 14px 10px 15px 10px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Gotham Pro", "Arial", "Verdana", sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    -webkit-transition-property: background-color, border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background-color, border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background-color, border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background-color, border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background-color, border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.beige-pill:link,
.beige-pill:visited {
    background-color: #d4b166;
    border-color: #d4b166;
}

.beige-pill:active,
.beige-pill.active {
    background-color: #f0c872;
    border-color: #f0c872;
}

.beige-pill:hover {
    background-color: #f0c872;
    border-color: #f0c872;
}

/*-- /Pills --*/

/*-- Icons --*/

.pdf {
    display: block;
    width: 19px;
    height: 19px;
    background-image: url(img/pdf.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/*-- /Icons --*/

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header-site {
    padding: 17px 0 10px 0;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    /*position: fixed;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-site .left {
    width: 35%;
    padding: 10px 1% 10px 0;
}

.header-site .right {
    width: 65%;
    padding: 10px 0 10px 1%;
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: auto;
    max-width: 234px;
}

.logo img {
    display: block;
    width: auto;
    min-width: 100%;
}

.main-nav_wrapp {
    padding: 8px 0 0 0;
}

.main-nav {
    margin: 0 -24px;
    text-align: right;
}

.main-nav li {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0 10px 24px;
    padding: 0 24px 0 0;
    line-height: 16px;
    text-align: left;
    position: relative;
}

.main-nav li a {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    color: #bababa;
}

.main-nav li a:link,
.main-nav li a:visited {
    font-weight: normal;
    color: #bababa;
}

.main-nav li a:active,
.main-nav li a.active {
    font-weight: 500;
    color: #d4b166;
}

.main-nav li a:hover {
    font-weight: normal;
    color: #d4b166;
}

.main-nav li a.active:hover {
    font-weight: 500;
    color: #d4b166;
}

/*.main-nav li ul {
    padding: 5px 10px;
    width: calc(100% + 20px);
    background: rgba(255, 255, 255, .9);
}*/

.main-nav li.inner-nav_wrapp:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 7px;
    right: 0;
    border-style: solid;
    border-width: 4px 3.5px 0 3.5px;
    border-color: #b7b7b7 transparent transparent transparent;
}

.main-nav li.inner-nav_wrapp ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 5px 10px;
    width: calc(100% + 20px);
    background: rgba(255, 255, 255, .9);
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.main-nav li.inner-nav_wrapp:hover ul {
    display: block;
}

.main-nav li ul li {
    display: block;
    padding: 10px 0;
    line-height: 18px;
}

.main-nav li ul li a {
    text-transform: none;
    font-size: 16px;
}

.main-nav li ul li a:link,
.main-nav li ul li a:visited {
    color: #3a3a3a;
}

.main-nav li ul li a:active,
.main-nav li ul li a.active {
    font-weight: 500;
    color: #d4b166;
}

.main-nav li ul li a:hover {
    color: #d4b166;
}

.main-nav li ul li a.active:hover {
    color: #d4b166;
}

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Section 1 - Main Page --*/

.promo-sect {
    background-image: url(img/promo.jpg);
    background-position: center;
    background-size: cover;
    padding: 100px 0 0 0;
}

.promo-sect .row {
    position: relative;
}

.promo-descript {
    padding: 87px 0 45px 0;
}

.promo-descript h1 {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
    padding: 18px 0;
}

.promo-descript h1:after {
    content: "";
    width: 90px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #dcc182;
}

.promo-descript p {
    padding: 10px 0;
    color: #ffffff;
}

.promo-descript .transparent-pill {
    margin: 23px 0;
}

.quote {
    margin: 113px 0 0 0;
}

.quote p {
    font-size: 18px;
    line-height: 22px;
    color: #d4b166;
    font-weight: normal;
    font-style: italic;
}

.promo-sect .row .promo-img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.sectio-2 {
    padding: 33px 0 7px 0;
}

.grey-bg {
    background-color: #f1f2f1;
}

.two-cols-templ {

}

.two-cols-templ .left {
    width: 50%;
    padding: 10px 2% 10px 0;
}

.two-cols-templ .right {
    width: 50%;
    padding: 10px 0 10px 2%;
}

.title_wrapp {
    margin: 20px 0;
    position: relative;
    text-align: center;
}

.title_wrapp h4 {
    font-family: "Gotham Pro";
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    color: #d4b166;
}

.title_wrapp h2 {
    padding: 9px 0 27px 0;
    font-size: 36px;
    line-height: 43px;
    font-weight: 500;
    color: #474747;
}

.title_wrapp:after {
    content: "";
    width: 90px;
    height: 1px;
    background-color: #d4b166;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.two-cols-templ .title_wrapp {
    text-align: left;
}

.two-cols-templ .title_wrapp:after {
    left: 0;
    transform: none;
}

.about-descript {
    max-width: 496px;
}

.about-descript p {
    padding: 10px 0;
}

.two-cols-templ .beige-pill {
    margin: 21px 0;
}

.thumbnails_1 {
    margin: 14px -1%;
}

.thumb_1 {
    display: inline-block;
    vertical-align: top;
    width: 31.33%;
    margin: 10px 1%;
}

.thumb_1 p {
    padding: 5px 0;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    color: #474747;
}

.thumb_1 p.p-1 {
    font-family: "Oswald";
    font-size: 45px;
    line-height: 54px;
    font-weight: 500;
    color: #d4b166;
}

.slider-1_wrapp {
    max-width: 550px;
    padding: 23px 0;
    float: right;
}

.big_slider {

}

.big_slider .slide {
    height: 360px;
    overflow: hidden;
    position: relative;
}

.big_slider .slide img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.miniature_slider {
    /*margin: 0 -12px;*/
    margin: 24px -11px 10px -11px;
}

.miniature_slider .slide {
    /*padding: 12px;*/
    padding: 0 12px;
}

.miniature {
    display: block;
    height: 110px;
    position: relative;
    overflow: hidden;
}

.miniature img  {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.miniature .mask {
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(9, 8, 22, .7);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.miniature:hover .mask {
    opacity: 1;
}

.icon_1 {
    display: block;
    width: 40px;
    height: 42px;
    background-image: url(img/scale.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.miniature .mask i {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slider_1-nav {
    margin: 0 -3px;
}

.prev-btn {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    margin: 0 2px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    background-image: url(img/arrows_sprite.png);
    background-repeat: no-repeat;
    background-position: -5px -1px;
}

.next-btn {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    margin: 0 2px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    background-image: url(img/arrows_sprite.png);
    background-repeat: no-repeat;
    background-position: -46px -1px;
}


/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/

.bg_2 {
    padding: 1px 0;
    position: relative;
}

.bg_2:before {
    content: "";
    width: 100%;
    height: 330px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/bg_2.jpg);
    background-size: cover;
    background-position: center; 
}

.sect-3 {
    position: relative;
    padding: 45px 0 30px 0;
}

.bg_2 .row,
.sect-3 .row {
    position: relative;
    z-index: 2;
}

.title_wrapp.light h2 {
    color: #ffffff;
}

.thumbnails_2 {
    margin: 41px -1.5% 57px -1.5%;
}

.thumb-2 {
    display: inline-block;
    vertical-align: top;
    width: 30.33%;
    margin: 10px 1.5%;
    padding: 10px 30px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 24.18px 1.82px rgba(17, 17, 22, .08);
    -moz-box-shadow: 0 0 24.18px 1.82px rgba(17, 17, 22, .08);
    box-shadow: 0 0 24.18px 1.82px rgba(17, 17, 22, .08);
}

.thumb-2 .icon-box {
    height: 127px;
    margin: 26px 0 50px 0;
    position: relative;
}

.thumb-2 .icon-box:after {
    display: block;
    content: "";
    width: 90px;
    height: 64px;
    position: absolute;
    bottom: 0;
    right: 20%;
    background-image: url(img/icon_shape.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.thumb-2 .icon-box img {
    display: block;
    width: auto;
    height: auto;
    max-width: 98%;
    max-height: 98%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thumb-2 h3 {
    text-align: center;
    min-height: 44px;
}

.thumb-2 p {
    font-size: 16px;
}

.thumb-2 .descript {
    min-height: 120px;
}

.two-cols-templ_2 {
    margin: 32px 0 10px 0;
}

.two-cols-templ_2 .left {
    width: 50%;
    padding: 15px 3% 15px 0;
}

.two-cols-templ_2 .right {
    width: 50%;
    padding: 15px 0 15px 3%;
}

.two-cols-templ_2 h3 {
    font-size: 24px;
    line-height: 30px;
}

.table {
    display: table;
    width: 100%;
    margin: 25px 0;
    border-collapse: collapse;
    border: 1px solid #dadada;
}

.table-row {
    display: table-row;
}

.table .table-row:nth-child(1) {
    background-color: #d4b166;
}

.table-cell {
    display: table-cell;
    vertical-align: top;
    border: 1px solid #dadada;
}

.table .table-row:nth-child(1) .table-cell {
    border: 1px solid #b0883c;
}

.table .table-cell {
    width: 50%;
}

.table .table-row .table-cell:nth-child(1) {
    width: auto;
    padding: 10px 20px;
}

.table .table-row .table-cell:nth-child(2) {
    width: 136px;
    padding: 10px 20px;
}

.table h3 {
    font-family: "Gotham Pro";
    font-size: 16px;
    line-height: 27px;
    color: #ffffff;
}

.table p {
    position: relative;
    font-size: 16px;
    line-height: 27px;
    color: #666666;
}

.table .table-row .table-cell:nth-child(1) p {
    padding: 0 0 0 12px;
}

.table .table-row .table-cell:nth-child(1) p:before {
    content: "";
    width: 4px;
    height: 1px;
    background-color: #373737;
    position: absolute;
    top: 12px;
    left: 0;
}

.table .table-row .table-cell:nth-child(2) p {
    color: #373737;
    font-weight: 500;
}

.transparent-pill_2 .pdf {
    display: inline-block;
    vertical-align: top;
    margin: 0 14px 0 0;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 4 - Main Page --*/

.sect-4 .title_wrapp {
    margin: 13px 0;
}

.tabs_sect {
    overflow: hidden;
}

.tabs {
    position: relative;
}

.tabs_header {
    padding: 24px 0;
    background-image: url(img/bg_4.png);
    background-size: cover;
    background-position: center;
}

.tabs_header .title_wrapp {
    margin-bottom: 42px;
}

.tabs-links_wrapp {
    overflow: hidden;
    max-width: 520px;
}

.tabs-links {
/*    display: inline-block;
    vertical-align: top;*/
    /*overflow: hidden;*/
    /*outline: 1px solid red;*/
    /*max-width: 520px;*/
}

.tabs-links label {
    display: inline-block;
    vertical-align: top;
    position: relative;
    /*margin: 5px 30px;*/
    margin: 5px 53px 5px 0;
}

.tabs-links label:after {
    display: block;
    content: "";
    width: 50px;
    height: 2px;
    margin-left: 6px;
    position: absolute;
    bottom: 2px;
    left: 100%;
    background-image: url(img/dots.png);
    background-repeat: repeat-x;
}

.tabs-links label:last-child:after {
    display: none;
}

.tabs-links .tab-link {
    display: inline-block;
    vertical-align: top;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    color: #eaeaea;
    -webkit-transition-property: color, border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color, border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color, border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color, border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color, border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.tabs-links .tab-link.active {
    color: #d4b166;
    border-bottom: 1px solid #d4b166;
}

.tabs-links .tab-link:hover {
    color: #d4b166;
    border-bottom: 1px solid transparent;
}

.tabs-content {
    background-color: #f7f7f7;
    position: relative;
}

.tabs-content:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -11%;
    height: calc(100% + 43px);
    width: 50%;
    background-color: #d7b975;
}

.tabs-content .radio-tab {
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.tabs-content .tab {
    width: 100%;
    min-height: 727px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 0 117px 0;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.tabs-content .radio-tab:checked + .tab {
    height: auto;
    overflow: none;
    position: relative;
    opacity: 1;
}

.tab h2 {
    padding: 8px 0;
}

.tab h3 {
    padding: 8px 0 24px 0;
}

.tab p {
    padding: 13px 0;
}

.tab-inner {
    max-width: 770px;
}

.tab-inner p:last-child {
    padding-right: 38%;
}

.slider-2 {

}

.slider-2 .slide {

}

.slider-2 .img-box {
    height: 170px;
    overflow: hidden;
    position: relative;
}

.slider-2 .img-box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.slider-2 {
    position: relative;
}

.slick-prev {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    border: 1px solid transparent;
    background-color: transparent;
    background-image: url(img/arrows_sprite_2.png);
    background-repeat: no-repeat;
    background-position: 0 4px;
}

.slick-next {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    border: 1px solid transparent;
    background-color: transparent;
    background-image: url(img/arrows_sprite_2.png);
    background-repeat: no-repeat;
    background-position: -52px 4px;
}

.slider-2 .slick-prev {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -15px;
    margin-left: -48px;
}

.slider-2 .slick-next {
    z-index: 2;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -15px;
    margin-right: -51px;
}

.sliders-2_sect {
    height: 170px;
    position: relative;
    top: -54px;
}

.sliders-2_sect .row {
    position: relative;
}

.sliders-2_sect .slide-2_wrapp {
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.sliders-2_sect .slide-2_wrapp.active {
    position: relative;
    opacity: 1;
    z-index: 2;
}

.tab-doctor {
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.tab-doctor .row {
    position: relative;
}

.tab-doctor .row img {
    display: block;
    width: auto;
    height: auto;
    position: absolute;
    bottom: 0;
    right: -6.5%;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 5 - Main Page --*/

.sect-5 {
    padding-bottom: 165px;
}

.testimonilas {
    margin: 38px 0 0 0;
}

.testimonial {
    display: table;
    width: 100%;
    padding: 12px 0 27px 0;
    border-bottom: 1px solid #e8e9ed;
}

.testimonial .col:nth-child(1) {
    display: table-cell;
    vertical-align: top;
    width: 132px;
    padding: 6px 10px 5px 0;
}

.testimonial .col:nth-child(2) {
    display: table-cell;
    vertical-align: top;
    width: auto;
    padding: 5px 6% 5px 10px;
}

.testimonial .img-box {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    border: 2px solid #d4b166;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #fafafa;
}

.testimonial .img-box:before {
    display: block;
    content: "";
    width: 92px;
    height: 92px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: transparent;
    border: 2px solid #fafafa;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.testimonial .img-box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.testimonial .title {
    margin: 0 -8px 4px -8px;
}

.testimonial .title .title-col {
    display: inline-block;
    vertical-align: baseline;
    padding: 5px 8px;
}

.testimonial .title h3 {
    font-family: "Gotham Pro";
    font-size: 22px;
    line-height: 27px;
    color: #d4b166;
}

p.date {
    font-size: 14px;
    line-height: 18px;
    color: #474747;
    font-weight: 500;
}

.testimonial p {
    line-height: 25px;
}

.socilas-pills {
    padding: 12px 0;
}

.socilas-pills .col {
    display: inline-block;
    vertical-align: top;
}

.socilas-pills .col:nth-child(1) {
    padding: 20px 9px 10px 0;
}

.socilas-pills .col:nth-child(2) {
    padding: 10px 0 10px 9px;
}

.socilas-pills p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
}

.soc-tag {
    display: inline-block;
    vertical-align: top;
    background-color: #4861a6;
    margin: 6px;
    padding: 4px 25px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    color: #ffffff;
}

.instagram {
    background-color: #db318c;
}

.facebook {
    /*background-color: #db318c;*/
}

.vk {
    background-color: #44678d;
}

/*-- /Section 5 - Main Page --*/

/*--Section 6 - Main Page --*/

.callback-sect {
    padding: 47px 0 54px 0;
    background-image: url(img/bg_3.jpg);
    background-size: cover;
    background-position: center;
}

.callback-sect .row {
    position: relative;
    z-index: 2;
}

.callback-form {
    padding: 9px 0;
}

.callback-form h3 {
    font-family: "Gotham Pro";
    text-align: center;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    color: #ffffff;
}

.form-inner {
    display: table;
    width: 100%;
    max-width: 728px;
    margin: 7px auto;
}

.form-inner .col:nth-child(1) {
    display: table-cell;
    vertical-align: top;
    width: auto;
    padding: 10px 10px 10px 0;
}

.form-inner .col:nth-child(2) {
    display: table-cell;
    vertical-align: top;
    width: 265px;
    padding: 10px 0 10px 10px;
}

.Rectangle_20 {
  background-color: rgb(34, 34, 34);
  opacity: 0.502;
  position: absolute;
  left: 598px;
  top: 5112px;
  width: 450px;
  height: 50px;
  z-index: 146;
}

.callback-form .transparent-pill {
    width: 100%;
}

/*--/Section 6 - Main Page --*/

/*-- Section 7 - Main Page --*/

.contacts_wrapp {
    margin: 47px 0;
}

.contacts_wrapp .left {
    width: 42%;
}

.contacts_wrapp .right {
    width: 58%;
}

.contacts_wrapp .title_wrapp {
    text-align: left;
}

.contacts_wrapp .title_wrapp:after {
    left: 0;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
}

.contact_thumb {
    margin-bottom: 23px;
}

.contact_thumb h4 {
    text-transform: uppercase;
    font-family: "Gotham Pro";
    font-size: 10px;
    line-height: 27px;
    font-weight: normal;
    color: #777777;
}

.contact_thumb p {
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    color: #474747;
}

.contact_thumb p a {
    border-bottom: 1px solid transparent;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    color: #474747;
}

.contact_thumb p a:hover {
    border-bottom: 1px solid #6f6f6f;
}

.socials_list {
    margin: 0 -10px;
}

.socials_list li {
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px;
}

.socials_list li a {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.socials_list li a img {
    width: 26px;
    -webkit-transition-property: transform;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.socials_list li a:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

.map-wrapp {
    height: 435px;
    margin: 23px 0;
    overflow: hidden;
    border-width: 10px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 24.18px 1.82px rgba(19, 18, 23, .1);
    -moz-box-shadow: 0 0 24.18px 1.82px rgba(19, 18, 23, .1);
    box-shadow: 0 0 24.18px 1.82px rgba(19, 18, 23, .1);
}

#map {
    height: 440px;
}

/*-- /Section 7 - Main Page --*/

/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

.footer {
    padding: 5px 0;
}

.footer p {
    padding: 10px 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: normal;
    color: #474747;
}